.Card{
    background-color: red;
    border: 3px solid red;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
}

.Card .title {
    padding: 5px 0px;
    display: flex;
    justify-content: center;
}

.Card .content {
    background-color: white;
    color: black;
    padding: 20px;
}